a:focus {
  outline: 3px solid #ffbf47;
}

body {
  background-color: #ffffff;
}

.enrolment-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  border-bottom: 1px solid;
  color: #00549f;
  text-decoration: none;
}

.h1, .font-medium, h1, h2, h3, h4, h5, h6, strong, .button {
  font-weight: 500;
}
