// BUTTONS

.button-border:active {
  background-color: #ffffff;
}

.button.navigation-main-button {
  padding: 8px 10px 5px;
}

.button-primary {
  background-color: #e41f13;
  color: #ffffff;
  font-size: 24px;
}

.sso-profile-pill-button {
  border-radius: 8px;
  background-color: #dfd5c5;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.72;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.font-large, .h4, .button, .button-close:before {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
}

.button-primary {
    background-color: #e41f13;
    color: #ffffff;
    font-size: 24px;
}

.button {
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto",arial,helvetica,sans-serif;
    padding: 12px 30px;
    text-decoration: none;
}

.button-border {
    border: 2px solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-border:active {
    background-color: #ffffff;
}
.button-border:active {
    background-color: #007ea3;
    outline: 0;
}
.button-border:hover {
    background-color: transparent;
    color: #007ea3;
}
.button-border:link, .button-border:visited {
    background-color: transparent;
    color: #007ea3;
}
.button-border:focus {
    outline: 3px solid #ffbf47;
}

#sso-profile-eig-button-applications {
 border-bottom: 0;
}

#sso-profile-eig-buttons a,
#sso-profile-eig-buttons span {
  text-align: center;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  width: 100%;
}

.sso-profile-eig-button-active {
  border: 1px solid #979797;
  border-right: 0;
  height: 63px;
  background-color: white;
}

.sso-profile-eig-button-inactive {
  border: 1px solid #979797;
  height: 63px;
  background-color: rgba(220, 224, 223, 0.4);
}
