/* Shared tab content
 **********************/

#tab-content {
  padding-top: 40px;

  .span3:first-child {
    min-height: 1px; /* avoids area appearing to collapse */
    width: 220px;
  }

  h2 {
    font-size: 36px;
    line-height: 1.1em;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    margin-bottom: 40px;
  }

  li {
    list-style-type: disc;
    margin: 0 0 10px 20px;
    padding-left: 15px;
  }

  section {
    margin-bottom: 156px;
  }

  ul {
    margin-bottom: 30px;
  }
}

#profile-required ul {
  padding: 0;
}

.sso-profile-tab-container {
    margin-top: 30px;
    background-color: #F0F3F2;
}

.sso-profile-tab-container ul {
    padding-left: 0;
}

.sso-profile-tab-container li.active {
    background-color: white;
    border-top: 5px solid #E41F13;
}

.sso-profile-tab-container li a {
  display: block;
  font-weight: bold;
  color: #363636;
  padding: 20px;
}

.sso-profile-toolbar-labels-container {
    margin-top: 10px;
}

.sso-profile-toolbar-buttons-container {
  margin-top: 30px;
  text-align: right;

  .button,
  .link {
    font-size: 16px;
    margin-left: 20px;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {

  .sso-profile-tab-container {
    background: none;

    li {
      border-bottom: #ffffff solid 5px;
      border-left: #ffffff solid 5px;
      float: left;
      margin: 0;
      height: 90px;
      width: 49.2%;
      display: table;
    }

    li a {
      height: 100%;
      background-color: #F0F3F2;
      border-bottom: 5px solid #F0F3F2;
      letter-spacing: -0.3px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
    }

    li:nth-child(odd) {
      border-right: none;
      clear: left;
    }

    li.active {
      background-color: transparent;
      border-top: none;
    }

    li.active a {
      border-bottom: 5px solid #E41F13;
    }
  }
}
