.sso-profile-eig-email-alert-item {
  border: solid 1px #999999;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.sso-profile-eig-email-alert-item:last-child {
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.sso-profile-eig-email-alert-item-search-term-label {
  font-size: 16px;
  line-height: 1.56;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.sso-profile-eig-email-alert-item-search-term {
  margin-bottom: 20px;
}
